leeme-todo.md
labs/
certificado509
errores
Comandos
Apuntes-rbac.md
HTTPS
postgres-secret.yml
.env
backend/.env
node_modules/
env
wellnes-ops-backup/
.secrets
reset-docker.sh
Docker-practica
HTTPS.md
wellnes-ops.code-workspace
apuntes
pod-test
