db_password.txt
db_user.txt
docker-labs
k8s/backend/backend-jwt-secret-plain.yml
k8s/backend/backend-secret-plain.yml
leeme-todo.md
labs/
certificado509
errores
Comandos
Apuntes-rbac.md
HTTPS
postgres-secret.yml
.env
backend/.env
node_modules
node_modules/
env
wellness-ops-backup/
.secrets
reset-docker.sh
Docker-practica
HTTPS.md
wellness-ops.code-workspace
apuntes
pod-test
k8s/
*.code-workspace
k8s-labs
k8s/postgres/postgres-ssl-plain.yml
/docs/Readme.md

